# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# VI
*.swp
*.*~

# Quartus
*.sof

# Build and Release Paths
out/
rel/

# latex
*.aux
*.log
*.out
*.gz
DE1-SoC_Computer_ARM.pdf
DE1-SoC_Computer_NiosII.pdf
DE1-SoC_Computer_NiosV.pdf
DE10-Lite_Computer_NiosII.pdf
DE10-Lite_Computer_NiosV.pdf
DE10-Standard_Computer_ARM.pdf
DE10-Standard_Computer_NiosII.pdf
DE10-Standard_Computer_NiosV.pdf
DE10-Nano_Computer_ARM.pdf
DE10-Nano_Computer_NiosII.pdf
DE10-Nano_Computer_NiosV.pdf

# outputs produced by the scripts
Computer_Systems/*/scripts/o_*.txt
Computer_Systems/*/scripts/*.qsys
Computer_Systems/*/scripts/.qsys_edit
Computer_Systems/*/*Computer/.qsys_edi

filters.xml
preferences.xml
*.db_info
*.sld_design*
*.qws

